.todo {
  display: grid;
  grid-template-columns: 90% 10%;
  border: 1px groove black;
  margin: 20px;
  padding: 10px;
  width: 97%;
  border-radius: 10px;
}

.todo-left {
  grid-template-rows: 50% 50%;
  padding: 10px;
  display: grid;
}

.todo-right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}
